{% extends "adminBase.html" %} {% block content %}
<style>
  .sub-header {
    margin: -100px auto;
  }
</style>
<p class="wlc-text">Welcome &nbsp; <span>{{ current_user.username }}</span></p>
<p class="sub-title">Admin Database</p>
<div class="stagediv">
  <table id="admin-scholarship-table">
    <thead>
      <tr>
        <th>S/N</th>
        <th>Post cat.</th>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Country</th>
        <th>Institution</th>
        <th>Faculty</th>
        <th>Department</th>
        <th>Course</th>
        <th>Level</th>
        <th>Description</th>
        <th>Duration</th>
        <th>App. fee</th>
        <th>Url</th>
        <th>Short Url</th>
        <th>Fund. type</th>
        <th>Fund. Inst</th>
        <th>GA type</th>
        <th>App. SD</th>
        <th>App. ED</th>
        <th>Date created</th>
        <th>Date updated</th>
        <th>Visits</th>
        <th>Edit/Del</th>
      </tr>
    </thead>
    <tbody id="admin-table-body">
      {% for post_data in postRecords.items %}
      <tr>
        <td>{{post_data.id}}</td>
        <td>{{post_data.post_cat}}</td>
        <td>{{post_data.title}}</td>
        <td>{{post_data.subtitle}}</td>
        <td>{{post_data.country}}</td>
        <td>{{post_data.institution}}</td>
        <td>{{post_data.faculty}}</td>
        <td>{{post_data.department}}</td>
        <td>{{post_data.course}}</td>
        <td>{{post_data.level}}</td>
        <td>{{post_data.description}}</td>
        <td>{{post_data.duration}}</td>
        <td>{{post_data.appfee}}</td>
        <td>{{post_data.app_url}}</td>
        <td>{{post_data.app_short_url}}</td>
        <td>{{post_data.fund_type}}</td>
        <td>{{post_data.fund_inst}}</td>
        <td>{{post_data.ga}}</td>
        <td>{{post_data.app_sd}}</td>
        <td>{{post_data.app_ed}}</td>
        <td>{{post_data.date_created}}</td>
        <td>{{post_data.date_updated}}</td>
        <td>{{post_data.visits}}</td>
        <td>
          <button class="edit-btn table-btn">
            <a href="/59b1a640e436ba17c3454d935f9b6038/edit/{{post_data.id}}"
              >Edit</a
            >
          </button>
          <br />
          <button class="delete-btn table-btn">
            <a href="/59b1a640e436ba17c3454d935f9b6038/delete/{{post_data.id}}"
              >Del</a
            >
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="pagination-div">
  <a
    href="{{url_for('admin.ad_posts', page=postRecords.prev_num)}}"
    class="pagination-btn inactive-btn {% if postRecords.page == 1 %}disabled{% endif %}"
  >
    &laquo;</a
  >
  {% for page_num in postRecords.iter_pages (left_edge=1, right_edge=1,
  left_current=1, right_current=2) %} {% if page_num %} {% if postRecords.page==
  page_num %}
  <a
    href="{{url_for('admin.ad_posts', page=page_num)}}"
    class="pagination-btn active-btn"
    >{{page_num}}</a
  >

  {% else %}
  <a
    href="{{ url_for('admin.ad_posts', page=page_num) }}"
    class="pagination-btn inactive-btn"
  >
    {{ page_num }}
  </a>
  {% endif %} {% else %} ... {% endif %} {% endfor %}
  <a
    href="{{ url_for('admin.ad_posts', page=postRecords.next_num) }}"
    class="pagination-btn inactive-btn {% if postRecords.page == postRecords.pages %}disabled{% endif %}"
  >
    &raquo;
  </a>
  <p class="pagination-descr">
    Showing page {{ postRecords.page }} of {{ postRecords.pages }}
  </p>
</div>
{% endblock %}
