{% extends "base.html" %} {% block content %}
<section class="_section" id="post-doc">
  <div class="title white" id="sch-title">
    <h3 class="titleText"><span>Post</span>Doc</h3>
    <p>Get the latest update on Post Doctarate opportunities</p>
  </div>
  <div class="content">
    {% for pdps in post_doc_post %}
    <div class="box">
      <div class="imgBx">
        <div class="text">
          <h3>
            <span class="box-title">{{pdps.title}}</span> <br />
            <p><span>Country:</span> &nbsp; {{pdps.country}}</p>
            <p><span>Institution:</span> &nbsp; {{pdps.institution}}</p>
            <p><span>Course:</span> &nbsp; {{pdps.course}}</p>
            <p><span>Level:</span> &nbsp; {{pdps.level}}</p>
            <p><span>App. fee:</span> &nbsp; {{pdps.appfee}}</p>
            <p><span>Duration:</span> &nbsp; {{pdps.duration}}</p>
            <p><span>App. Start date:</span> &nbsp; {{pdps.app_sd}}</p>
            <p><span>App. Deadline:</span> &nbsp; {{pdps.app_ed}}</p>
            <p>
              <span>URL:</span>
              <a href="{{pdps.app_url}}">{{pdps.app_short_url}}</a>
            </p>
            <a href="/details/{{pdps.id}}" class="view-btn">View Details</a>
          </h3>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="title-btn">
      <a href="/postdoc" class="btn">View <i class="fa-solid fa-ellipsis"></i></a>
      <a href="/postdoc/details" class="btn">View <i class="fa-solid fa-list-ul"></i></a>
    </div>
  </div>
</section>

<section class="_section" id="ga">
  <div class="title">
    <h3 class="titleText"><span>Graduate</span> Assistentships</h3>
    <p>Get the latest update on Graduate Assistentship</p>
  </div>
  <div class="content">
    {% for ga_post in grad_ast_post %}
    <div class="box">
      <div class="imgBx">
        <div class="text">
          <h3>
            <span class="box-title">{{ga_post.title}}</span> <br />
            <p><span>Country:</span> &nbsp; {{ga_post.country}}</p>
            <p><span>Institution:</span> &nbsp; {{ga_post.institution}}</p>
            <p><span>Course:</span> &nbsp; {{ga_post.course}}</p>
            <p><span>Level:</span> &nbsp; {{ga_post.level}}</p>
            <p><span>App. fee:</span> &nbsp; {{ga_post.appfee}}</p>
            <p><span>Duration:</span> &nbsp; {{ga_post.duration}}</p>
            <p><span>App. Start date:</span> &nbsp; {{ga_post.duration}}</p>
            <p><span>App. Deadline:</span> &nbsp; {{ga_post.duration}}</p>
            <p>
              <span>URL:</span>
              <a href="{{ga_post.app_url}}">{{ga_post.app_short_url}}</a>
            </p>
            <a href="/details/{{ga_post.id}}" class="view-btn">View Details</a>
          </h3>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="title-btn">
      <a href="{{url_for('ga_ast.all_ga_post')}}" class="btn">View <i class="fa-solid fa-ellipsis"></i></a>
      <a href="{{url_for('ga_ast.details_all_ga_post')}}" class="btn">View <i class="fa-solid fa-list-ul"></i></a>
    </div>
  </div>
</section>

<section class="_section" id="scholarships">
  <div class="title white" id="sch-title">
    <h3 class="titleText"><span>Scholar</span>ships</h3>
    <p>Get the latest update on Scholarship opportunities</p>
  </div>
  <div class="content">
    {% for sch_posts in sch_post %}
    <div class="box">
      <div class="imgBx">
        <div class="text">
          <h3>
            <span class="box-title">{{sch_posts.title}}</span> <br />
            <p><span>Country:</span> &nbsp; {{sch_posts.country}}</p>
            <p><span>Institution:</span> &nbsp; {{sch_posts.institution}}</p>
            <p><span>Course:</span> &nbsp; {{sch_posts.course}}</p>
            <p><span>Level:</span> &nbsp; {{sch_posts.level}}</p>
            <p><span>App. fee:</span> &nbsp; {{sch_posts.appfee}}</p>
            <p><span>Duration:</span> &nbsp; {{sch_posts.duration}}</p>
            <p><span>App. Start date:</span> &nbsp; {{sch_posts.duration}}</p>
            <p><span>App. Deadline:</span> &nbsp; {{sch_posts.duration}}</p>
            <p>
              <span>URL:</span>
              <a href="{{sch_posts.app_url}}">{{sch_posts.app_short_url}}</a>
            </p>

            <a href="/details/{{sch_posts.id}}" class="view-btn"
              >View Details</a
            >
          </h3>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="title-btn">
      <a href="/scholarship" class="btn">View <i class="fa-solid fa-ellipsis"></i></a>
      <a href="/scholarship/details" class="btn">View <i class="fa-solid fa-list-ul"></i></a>
    </div>
  </div>
</section>

<section class="_section" id="internships">
  <div class="title white" id="sch-title">
    <h3 class="titleText"><span>Intern</span>ships</h3>
    <p>Get the latest update on Scholarship opportunities</p>
  </div>
  <div class="content">
    {% for intern_post in intern_posts %}
    <div class="box">
      <div class="imgBx">
        <div class="text">
          <h3>
            <span class="box-title">{{intern_post.title}}</span> <br />
            <p><span>Country:</span> &nbsp; {{intern_post.country}}</p>
            <p><span>Institution:</span> &nbsp; {{intern_post.institution}}</p>
            <p><span>Course:</span> &nbsp; {{intern_post.course}}</p>
            <p><span>Level:</span> &nbsp; {{intern_post.level}}</p>
            <p><span>App. fee:</span> &nbsp; {{intern_post.appfee}}</p>
            <p><span>Duration:</span> &nbsp; {{intern_post.duration}}</p>
            <p><span>App. Start date:</span> &nbsp; {{intern_post.duration}}</p>
            <p><span>App. Deadline:</span> &nbsp; {{intern_post.duration}}</p>
            <p>
              <span>URL:</span>
              <a href="{intern_post.app_url}}">{{intern_post.app_short_url}}</a>
            </p>
            <a href="/details/{{intern_post.id}}" class="view-btn"
              >View Details</a
            >
          </h3>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="title-btn">
      <a href="/internship" class="btn">View <i class="fa-solid fa-ellipsis"></i>
      <a href="/internship/details" class="btn">View <i class="fa-solid fa-list-ul"></i></a>
    </div>
  </div>
</section>
{% endblock %}
