{% extends "base.html" %} {% block title %}CareerDev | Article details {%
endblock %} {% block content %}

<section class="_section details-div" id="scholarships">
  <div class="title white" id="sch-title">
    <h2 class="titleText"><span>I</span>nternships</h2>
    <p>Get the latest update on Internship opportunities</p>
    {% if intern_details%} {% for itd in intern_details %}
    <p><span>Visits:</span> &nbsp; {{itd.visits}}</p>
  </div>

  <div class="post-details">
    <p>
      <center><span class="box-title">{{itd.title}}</span></center>
    </p>
    <p><span>subtitle</span> &nbsp; {{itd.subtitle}}</p>
    <p><span>Country:</span> &nbsp; {{itd.country}}</p>
    <p><span>Institution:</span> &nbsp; {{itd.institution}}</p>
    <p><span>Faculty</span> &nbsp; {{itd.faculty}}</p>
    <p><span>Department:</span> &nbsp; {{itd.department}}</p>
    <p><span>Course:</span> &nbsp; {{itd.course}}</p>
    <p><span>Level:</span> &nbsp; {{itd.level}}</p>
    <p class="description">
      <span>Description</span> &nbsp; {{itd.description}}
    </p>
    <p><span>Duration:</span> &nbsp; {{itd.duration}}</p>
    <p><span>App. fee:</span> &nbsp; {{itd.appfee}}</p>
    <p><span>Funding type:</span> &nbsp; {{itd.fund_type}}</p>
    <p><span>Funding Institution:</span> &nbsp; {{itd.fund_inst}}</p>
    <p class="startdate"><span>App. Start date:</span> &nbsp; {{itd.app_sd}}</p>
    <p class="deadline"><span>App. Deadline:</span> &nbsp; {{itd.app_ed}}</p>
    <p>
      <span>App. URL:</span> &nbsp;
      <a href="{{itd.app_url}}">{{itd.app_short_url}}</a>
    </p>

    {% endfor %} {% else %}
    <p>Data not available</p>
    {% endif %}
  </div>

  <div class="related-post">
    <div class="title white" id="sch-title">
      <h2 class="titleText">View related posts</h2>
    </div>
    <div class="content">
      {% if related_posts %} {% for related_post in related_posts %}
      <div class="box">
        <div class="imgBx">
          <div class="text">
            <h3>
              <span class="box-title">{{related_post.title}}</span> <br />
              <p><span>Country:</span> &nbsp; {{related_post.country}}</p>
              <p>
                <span>Institution:</span> &nbsp; {{related_post.institution}}
              </p>
              <p><span>Course:</span> &nbsp; {{related_post.course}}</p>
              <p><span>Level:</span> &nbsp; {{related_post.level}}</p>
              <p><span>App. fee:</span> &nbsp; {{related_post.appfee}}</p>
              <p><span>Duration:</span> &nbsp; {{related_post.duration}}</p>
              <p>
                <span>App. Start date:</span> &nbsp; {{related_post.duration}}
              </p>
              <p>
                <span>App. Deadline:</span> &nbsp; {{related_post.duration}}
              </p>
              <p>
                <span>URL:</span>
                <a href="{{related_post.app_url}}"
                  >{{related_post.app_short_url}}</a
                >
              </p>
              <a href="/intern/details/{{related_post.id}}" class="view-btn"
                >View Details</a
              >
            </h3>
          </div>
        </div>
      </div>
      {% endfor %} {% else %} No related post {% endif %}
      <!--ends boc div-->
    </div>
  </div>
  <!--ends related post-->

  <div class="pagination-div">
    <a
      href="{{url_for('intern.all_intern_post', page=intern_posts.prev_num)}}"
      class="pagination-btn inactive-btn {% if intern_posts.page == 1 %}disabled{% endif %}"
    >
      &laquo;</a
    >
    {% for page_num in intern_posts.iter_pages (left_edge=1, right_edge=1,
    left_current=1, right_current=2) %} {% if page_num %} {% if
    intern_posts.page== page_num %}
    <a
      href="{{url_for('intern.all_intern_post', page=page_num)}}"
      class="pagination-btn active-btn"
      >{{page_num}}</a
    >

    {% else %}
    <a
      href="{{ url_for('intern.all_intern_post', page=page_num) }}"
      class="pagination-btn inactive-btn"
    >
      {{ page_num }}
    </a>
    {% endif %} {% else %} ... {% endif %} {% endfor %}
    <a
      href="{{ url_for('intern.all_intern_post', page=intern_posts.next_num) }}"
      class="pagination-btn inactive-btn {% if intern_posts.page == intern_posts.pages %}disabled{% endif %}"
    >
      &raquo;
    </a>
    <p class="pagination-descr">
      Showing page {{ intern_posts.page }} of {{ intern_posts.pages }}
    </p>
  </div>
</section>

{% endblock%}
