{% extends "base.html" %} {% block title %}CareerDev | Article details {%
endblock %} {% block content %}

<section class="_section details-div" id="scholarships">
  <div class="title white" id="sch-title">
    <h2 class="titleText"><span>Post</span> Doc.</h2>
    <p>Get the latest update on Post Doctarate opportunities</p>
    {% if post_doc_details %} {% for pdd in post_doc_details.items %}
    <p><span>Visits:</span> &nbsp; {{pdd.visits}}</p>
  </div>

  <div class="post-details">
    <p>
      <center><span class="box-title">{{pdd.title}}</span></center>
    </p>
    <p><span>subtitle</span> &nbsp; {{pdd.subtitle}}</p>
    <p><span>Country:</span> &nbsp; {{pdd.country}}</p>
    <p><span>Institution:</span> &nbsp; {{pdd.institution}}</p>
    <p><span>Faculty</span> &nbsp; {{pdd.faculty}}</p>
    <p><span>Department:</span> &nbsp; {{pdd.department}}</p>
    <p><span>Course:</span> &nbsp; {{pdd.course}}</p>
    <p><span>Level:</span> &nbsp; {{pdd.level}}</p>
    <p class="description">
      <span>Description</span> &nbsp; {{pdd.description}}
    </p>
    <p><span>Duration:</span> &nbsp; {{pdd.duration}}</p>
    <p><span>App. fee:</span> &nbsp; {{pdd.appfee}}</p>
    <p><span>Funding type:</span> &nbsp; {{pdd.fund_type}}</p>
    <p><span>Funding Institution:</span> &nbsp; {{pdd.fund_inst}}</p>
    <p class="startdate"><span>App. Start date:</span> &nbsp; {{pdd.app_sd}}</p>
    <p class="deadline"><span>App. Deadline:</span> &nbsp; {{pdd.app_ed}}</p>
    <p>
      <span>App. URL:</span> &nbsp;
      <a href="{{pdd.app_url}}">{{pdd.app_short_url}}</a>
    </p>
    {% endfor %} {%else %}
    <p>Data not available</p>
    {% endif %}
  </div>

  <div class="related-post">
    <div class="title white" id="sch-title">
      <h2 class="titleText">View related posts</h2>
    </div>
    <div class="content">
      {% if related_posts %} {% for related_post in related_posts %}
      <div class="box">
        <div class="imgBx">
          <div class="text">
            <h3>
              <span class="box-title">{{related_post.title}}</span> <br />
              <p><span>Country:</span> &nbsp; {{related_post.country}}</p>
              <p>
                <span>Institution:</span> &nbsp; {{related_post.institution}}
              </p>
              <p><span>Course:</span> &nbsp; {{related_post.course}}</p>
              <p><span>Level:</span> &nbsp; {{related_post.level}}</p>
              <p><span>App. fee:</span> &nbsp; {{related_post.appfee}}</p>
              <p><span>Duration:</span> &nbsp; {{related_post.duration}}</p>
              <p>
                <span>App. Start date:</span> &nbsp; {{related_post.duration}}
              </p>
              <p>
                <span>App. Deadline:</span> &nbsp; {{related_post.duration}}
              </p>
              <p>
                <span>URL:</span>
                <a href="{{related_post.app_url}}"
                  >{{related_post.app_short_url}}</a
                >
              </p>
              <a href="/post_doc/details/{{related_post.id}}" class="view-btn"
                >View Details</a
              >
            </h3>
          </div>
        </div>
      </div>
      {% else %}
      <p>Data not available</p>
      {% endfor %} {% else %} No related post {% endif %}
      <!--ends boc div-->
    </div>
  </div>
  <!--ends related post-->

  <div class="pagination-div">
    <a
      href="{{url_for('post_doc.all_post_doc_details', page=post_doc_details.prev_num)}}"
      class="pagination-btn inactive-btn {% if post_doc_details.page == 1 %}disabled{% endif %}"
    >
      &laquo;</a
    >
    {% for page_num in post_doc_details.iter_pages (left_edge=1, right_edge=1,
    left_current=1, right_current=2) %} {% if page_num %} {% if
    post_doc_details.page== page_num %}
    <a
      href="{{url_for('post_doc.all_post_doc_details', page=page_num)}}"
      class="pagination-btn active-btn"
      >{{page_num}}</a
    >

    {% else %}
    <a
      href="{{ url_for('post_doc.all_post_doc_details', page=page_num) }}"
      class="pagination-btn inactive-btn"
    >
      {{ page_num }}
    </a>
    {% endif %} {% else %} ... {% endif %} {% endfor %}
    <a
      href="{{ url_for('post_doc.all_post_doc_details', page=post_doc_details.next_num) }}"
      class="pagination-btn inactive-btn {% if post_doc_details.page == post_doc_details.pages %}disabled{% endif %}"
    >
      &raquo;
    </a>
    <p class="pagination-descr">
      Showing page {{ post_doc_details.page }} of {{ post_doc_details.pages }}
    </p>
  </div>
</section>

{% endblock%}
