{% extends "adminBase.html" %}
{% block title %}CareerDev | AdminPosts{% endblock %}
{{ ckeditor.load(custom_url=url_for('static', filename='ckeditor.js')) }}
{% block content %}
<style>
  .sub-header{
    margin: -90px auto;
  }
  .wlc-text{
      color: rgb(4, 83, 253);
  }
  /* @media screen and (max-width: {
      
  } */
</style>
<p class="wlc-text">Add New Post</p>
<form  action="/59b1a640e436ba17c3454d935f9b6038/postform" method="POST" class="contactForm" id="contact-form" enctype=multipart/form-data onload="loadSavedInput()">
   
    <div class="inputBox select-box">
        {% if post_cat %}
        <select name="post_cat" id="post_cat">
            <option value="{{post_cat}}" class="option">{{post_cat}}.</option>
            <option value="Post Doc" class="option">Post Doc</option>
            <option value="GradAss" class="option">Grad. Assist.</option>
            <option value="Scholarship" class="option">Scholarship</option>
            <option value="Internship" class="option">Internship</option>
        </select>
        {% else %}  
        <select name="post_cat" id="post_cat">
            <option selected disabled value="" class="option">Post Cat.</option>
            <option value="Post Doc" class="option">Post Doc.</option>
            <option value="Graduate Assistantship" class="option">Grad. Assist.</option>
            <option value="Scholarship" class="option">Scholarship</option>
            <option value="Internship" class="option">Internship</option>
        </select>
        {% endif %}
    </div>
    <div class="inputBox">
        {% if title  %}
        <input type="text" name="title" placeholder='Title' id="title" value="{{title}}" />
        {% else %}
        <input type="text" name="title" placeholder="Title" id="title" />
        {% endif %}
        <p class="clear-btn" onclick="posttitle()"> <i class="fa fa-trash" aria-hidden="true"></i></p>  
    </div>
    <div class="inputBox">
        {% if subtitle  %}
        <input type="text" name="subtitle" placeholder="Subtitle" id="subtitle" value="{{subtitle}} "/>
        {% else %}
        <input type="text" name="subtitle" placeholder="Subtitle" id="subtitle" />
        {% endif %}
        <p class="clear-btn" onclick="subtitle()"> <i class="fa fa-trash" aria-hidden="true"></i></p>  
    </div>
    <div class="inputBox">
        {% if country %}
        <input type="text" value="{{country}}" name="country" placeholder="Country" id="country" />
        {% else %}
        <input type="text" name="country" placeholder="Country" id="country" />
        {% endif %}
        <p class="clear-btn" onclick="country()"> <i class="fa fa-trash" aria-hidden="true"></i></p>  

    </div>
    <div class="inputBox">
        {% if institution %}
        <input type="text" value="{{institution}}" name="institution" placeholder="Institution" id="institution" />
        {% else %}
        <input type="text" name="institution" placeholder="Institution" id="institution" />
        {% endif %}
        <p class="clear-btn" onclick="institution()"> <i class="fa fa-trash" aria-hidden="true"></i></p>  
    </div>
    <div class="inputBox">
        {% if faculty %}
        <input type="text" value="{{faculty}}" name="faculty" placeholder="Faculty" id="faculty" />
        {% else %}
        <input type="text" name="faculty" placeholder="Faculty" id="faculty" />
        {% endif %}
        <p class="clear-btn" onclick="faculty()"> <i class="fa fa-trash" aria-hidden="true"></i></p>  
    </div>
    <div class="inputBox">
        {% if department %}
        <input type="text" value="{{department}}" name="department" placeholder="Department" id="department" />
        {% else %}
        <input type="text" name="department" placeholder="Department" id="department" />
        {% endif %}
        <p class="clear-btn" onclick="department()"> <i class="fa fa-trash" aria-hidden="true"></i></p>  
    </div>
    <div class="inputBox">
        {% if course %}
        <input type="text" value="{{course}}" name="course" placeholder="Course" id="course" />
        {% else %}
        <input type="text" name="course" placeholder="Course" id="course" />
        {% endif %}
        <p class="clear-btn" onclick="course()"> <i class="fa fa-trash" aria-hidden="true"></i></p>  
    </div>
    <div class="inputBox select-box">
        {% if level %}
        <select name="level" id="level">
            <option value="{{level}}" class="option">{{level}}</option>
            <option value="PhD" class="option">PhD</option>
            <option value="Masters" class="option">MSc</option>
            <option value="Undergraduate" class="option">Under gradudate</option>
        </select>
        {% else %}  
        <select name="level" id="level">
            <option selected disabled value="" class="option">Level.</option>
            <option value="PhD" class="option">PhD</option>
            <option value="Masters" class="option">Masters</option>
            <option value="Undergraduate" class="option">Under gradudate</option>
        </select>
        {% endif %}
    </div>
    <div class="inputBox">
        {% if description %}
        <textarea name="description" id="descr" cols="30" rows="10" placeholder="Description">{{description}}</textarea>
        {% else %}
        <textarea name="description" id="descr" cols="30" rows="10" placeholder="Description" ></textarea>
        {% endif %}
        <p class="clear-btn" onclick="description()"> <i class="fa fa-trash" aria-hidden="true"></i></p>  
    </div>
    <div class="inputBox">
        {% if duration %}
        <input type="text" name="duration" value="{{duration}}" placeholder="Duration(months)" id="duration" />
        {% else %}
        <input type="text" name="duration"  placeholder="Duration(months)" id="duration" />
        {% endif %}
        <p class="clear-btn" onclick="duration()"> <i class="fa fa-trash" aria-hidden="true"></i></p>  
    </div>
    <div class="inputBox">
        {% if appfee %}
        <input type="text" name="appfee" placeholder="App.fee (amount or waived)" id="appfee" value="{{appfee}}" />
        {% else %}
        <input type="text" name="appfee" placeholder="App.fee (amount or waived)" id="appfee" />
        {%endif  %}
        <p class="clear-btn" onclick="appfee()"> <i class="fa fa-trash" aria-hidden="true"></i></p>  
    </div>
    <div class="inputBox">
        {% if app_url %}
        <input type="text" name="url" value="{{app_url}}" placeholder="URL Link" id="url" />
        {% else %}
        <input type="text" name="url" placeholder="URL Link" id="url" />
        {% endif %}
        <p class="clear-btn" onclick="url()"> <i class="fa fa-trash" aria-hidden="true"></i></p>  
    </div>
   
    <div class="inputBox select-box">
        {% if ga %}
        <select name="ga" id="ga">
            <option value="{{ga}}" class="option">{{ga}}</option>
            <option value="Research Assistantship" class="option">RA</option>
            <option value="Teaching Assistantship" class="option">TA</option>
        </select>
        {% else %}
        <select name="ga" id="ga">
            <option selected disabled value="" class="option">Grad. Assist</option>
            <option value="Research Assistantship" class="option">RA</option>
            <option value="Teaching Assistantship" class="option">TA</option>
        </select>
        {% endif %}
    </div>
    <div class="inputBox select-box">
        {% if fund_type %}
        <select name="fund_type" id="fund_type">
            <option value="{{fund_type}}" class="option">{{fund_type}}</option>
            <option value="Fully funded" class="option">Fully funded</option>
            <option value="Partially funded" class="option">Partially funded</option>
            <option value="Tuition only">Tuition only</option>
        </select>
        {% else %}
        <select name="fund_type" id="fund_type">
            <option selected disabled value="" class="option">Fund type</option>
            <option value="Fully funded" class="option">Fully funded</option>
            <option value="Partially funded" class="option">Partially funded</option>
            <option value="Tuition only">Tuition only</option>
        </select>
        {% endif %}
    </div>
    <div class="inputBox">
        <input type="text" name="fund_inst" placeholder="Funding Institution" id="fund_inst" />
        <p class="clear-btn" onclick="fundInst()"> <i class="fa fa-trash" aria-hidden="true"></i></p>  
    </div>
    <div class="inputBox">
        <p>Start date</p>
    </div>
    <div class="inputBox">
       
        <input type="date" name="app_sd" placeholder="Application startdate" id="app_sd" />
        <p class="clear-btn" onclick="app_sd()"> <i class="fa fa-trash" aria-hidden="true"></i></p>  
    </div>
    <div class="inputBox">
        <p><p>End date</p></p>
    </div>
    <div class="inputBox">
        <input type="date" name="app_ed" placeholder="Application enddate" id="app_ed" />
        <p class="clear-btn" onclick="app_ed()"> <i class="fa fa-trash" aria-hidden="true"></i></p>  
    </div>
    <div class="inputBox">
        <input type="submit" value="POST" name="add__post" />
        <p class="clear-btn" onclick="clearPostField()"> <i class="fa fa-trash" aria-hidden="true"></i></p>
    </div> <br>
                            
</form> 
<script src="../static/post.js"></script>

{% endblock %}